.admin__menu .item-kowal-base-root.parent.level-0 > a:before {
	content: '';
	background-image:url('@{baseDir}Kowal_Base/images/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	height: 25px;
}
